.world {
    background-size: cover;
    position: relative;
    background-image: url("https://us.123rf.com/450wm/jamesteohart/jamesteohart1710/jamesteohart171000042/87645153-side-view-asphalt-road-on-snight-scene-near-the-modern-city.jpg");
    position: relative;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
}
.car img {
    width: 300px;
    height: 200px;
}
.car {
    position: absolute;
    bottom: 100px;
    z-index: 1;
    animation: car 3s linear 1;
}
@keyframes car {
    0% {
        transform: translateX(0px) translateY(0px);
      }
      50% {
        transform: translateX(40vw) translateY(100px);
      }
      100% {
        transform: translateX(75vw) translateY(0px);    
      }
}
.wheel img {
    width: 70px;
    height: 70px;
    animation: wheel 3s linear 1;
}
.back {
    left: 17px;
    position: absolute;
    bottom: 130px;
    z-index: 1;
}
.front {
    left: 198px;
    position: absolute;
    bottom: 130px;
    z-index: 1;
}

@keyframes wheel {
      0% {
        transform: translateX(0px) translateY(0px) rotate(0 deg);  
      }
      50% {
        transform: translateX(40vw) translateY(100px) rotate(180deg);
      }
      100% {
        transform: translateX(75vw) translateY(0px) rotate(360deg);
      }
}